body {
  
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	flex-wrap: nowrap;
}


.image-container {
	padding-top:10vh;
    padding-left: 5%;
    padding-right: 15%;
	display: flex;
	position: relative;
	transition: transform 0.2s;
}

.image-container .textblock {
    padding-left: 10vh;
    padding-right: 50vh;
    padding-bottom: 10vh;
    line-height: 3.5vh;
    flex: 1 1 0;
  }

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
